# 데이터 불러오기

In [5]:
import pandas as pd

one_l  = pd.read_csv("/content/drive/MyDrive/과제3/1인가구(거처종류별)_20230110142452.csv", sep = ",")
one_g  = pd.read_csv("/content/drive/MyDrive/과제3/1인가구(연령별)_20230110142138.csv", sep = ",")
meme   = pd.read_csv("/content/drive/MyDrive/과제3/주택가격지수(매매)_20230110143524.csv", sep = ",")
apmeme = pd.read_csv("/content/drive/MyDrive/과제3/아파트매매거래+현황_20230110143613.csv", sep = ",")
teak   = pd.read_csv("/content/drive/MyDrive/과제3/공동주택+현황(층별)(2016년+이전)_20230110142848.csv", sep = ",")
decrease = pd.read_csv("/content/drive/MyDrive/과제3/decrease.csv", sep = ",")

In [ ]:
one_l = one_l[2:]
one_l.iloc[:, 1:]

# 1.1인가구 수

In [16]:
one_g = pd.read_csv("/content/drive/MyDrive/과제3/1인가구(연령별)_20230110142138.csv", sep = ",")

In [17]:
one_g = one_g[1:]
one_g = one_g.iloc[:,1:35]
one_g = one_g.iloc[:,:2]
one_g = one_g[3:]

In [18]:
# reset_index()
one_g=one_g.reset_index()
one_g= one_g.iloc[:,1:]

# astype("int") 
one_g["2015"] = one_g["2015"].astype("int")

# cut()
bins=pd.cut(one_g["2015"],20)
bins

0     (19079.859, 23218.05]
1     (19079.859, 23218.05]
2       (27275.1, 31332.15]
3       (31332.15, 35389.2]
4       (51617.4, 55674.45]
5       (51617.4, 55674.45]
6       (43503.3, 47560.35]
7       (51617.4, 55674.45]
8       (35389.2, 39446.25]
9       (27275.1, 31332.15]
10      (43503.3, 47560.35]
11      (43503.3, 47560.35]
12      (39446.25, 43503.3]
13      (51617.4, 55674.45]
14      (31332.15, 35389.2]
15      (55674.45, 59731.5]
16      (39446.25, 43503.3]
17      (27275.1, 31332.15]
18      (47560.35, 51617.4]
19      (51617.4, 55674.45]
20     (96244.95, 100302.0]
21      (35389.2, 39446.25]
22      (59731.5, 63788.55]
23      (51617.4, 55674.45]
24      (39446.25, 43503.3]
Name: 2015, dtype: category
Categories (20, interval[float64, right]): [(19079.859, 23218.05] < (23218.05, 27275.1] <
                                            (27275.1, 31332.15] < (31332.15, 35389.2] < ... <
                                            (84073.8, 88130.85] < (88130.85, 92187.9] <
                                            (92187.9, 96244.95] < (96244.95, 100302.0]]

In [19]:
bins.describe()

count                      25
unique                     11
top       (51617.4, 55674.45]
freq                        6
Name: 2015, dtype: object

## { 1인가구 최종 }

In [20]:
# np.log1p 지수화
import numpy as np

one_g['2015'] = np.log1p(one_g['2015'])
labels = [ 5, 4, 3, 2, 1]
bins = pd.cut(one_g['2015'], 5, labels = labels)
one_g['2015'] = bins

# rename()
one_g.rename(columns={"자치구별(2)":"구별",'2015':'1인가구수'}, inplace=True)

# to_csv()
# one_g.to_csv("1인가구수(1).csv", index = False)

# 2.매매 주택종합, 아파트

In [21]:
meme   = pd.read_csv("/content/drive/MyDrive/과제3/주택가격지수(매매)_20230110143524.csv", sep = ",")

In [22]:
# drop(['칼럼'])
meme = meme.drop(['자치구별(1)'], axis=1)
meme.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시점       52 non-null     int64
 1   자치구별(2)  52 non-null     object
 2   종합       52 non-null     float64
 3   아파트      52 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.8+ KB

In [ ]:
# query("==''")
meme14=meme.query("시점 == 2014")

# reset_index()
meme14=meme14.reset_index()
meme14=meme14.iloc[:,2:]
meme14=meme14[1:]

# rename
meme14.rename(columns={"자치구별(2)":"구별",'종합':'종합_14','아파트':'아파트_14'}, inplace=True)

In [ ]:
# query("==''")
meme15= meme.query("시점 == 2015")

# reset_index()
meme15= meme15.reset_index()
meme15= meme15.iloc[:,2:]
meme15= meme15[1:]

# rename
meme15.rename(columns={"자치구별(2)":"구별",'종합':'종합_15','아파트':'아파트_15'}, inplace=True)

In [32]:
import pandas as pd

# merge( 칼럼1,칼럼2 ,on='')
meme_com=pd.merge(meme14,meme15,on ='구별')
meme_com

      구별  종합_14  아파트_14  종합_15  아파트_15
0    종로구   94.1    92.2   96.1    94.4
1     중구   93.0    91.2   95.7    95.1
2    용산구   92.9    91.8   94.7    93.8
3    성동구   90.0    87.3   95.1    94.6
4    광진구   91.5    87.6   96.2    94.0
5   동대문구   90.8    87.2   96.3    95.2
6    중랑구   94.9    92.7   97.4    97.0
7    성북구   93.4    90.6   96.3    95.2
8    강북구   95.3    91.3   97.7    96.7
9    도봉구   92.9    90.3   96.7    95.3
10   노원구   88.1    87.2   94.6    93.9
11   은평구   93.8    90.0   96.1    94.0
12  서대문구   93.1    90.4   95.6    94.0
13   마포구   91.8    90.0   94.4    93.3
14   양천구   90.4    87.4   94.4    93.0
15   강서구   89.3    84.2   93.7    91.0
16   구로구   89.9    86.9   95.4    93.7
17   금천구   92.8    88.5   95.8    93.7
18  영등포구   89.7    87.0   93.9    92.6
19   동작구   91.3    87.4   94.4    92.5
20   관악구   92.3    87.3   95.2    92.1
21   서초구   89.0    86.6   94.5    93.2
22   강남구   85.2    82.0   91.9    90.0
23   송파구   90.4    87.5   94.4    92.1
24   강동구   88.3    84.5   94.6    92.6

### { 종합 주택, 아파트 최종 }

In [34]:
# 칼럼의 평균구하기
meme_com["종합"]  = (meme_com["종합_14"]+meme_com["종합_15"])/2
meme_com["아파트"]= (meme_com["아파트_14"]+meme_com["아파트_15"])/2

# 칼럼 뽑기
meme_com = meme_com[["구별",'종합',"아파트"]]

# 로그, 등급화화
import numpy as np
meme_com["종합"] = np.log1p(meme_com["종합"])
labels = [ 5, 4, 3, 2, 1]
bins = pd.cut(meme_com["종합"], 5, labels = labels)
meme_com["종합"] = bins

meme_com["아파트"] = np.log1p(meme_com["아파트"])
labels = [ 5, 4, 3, 2, 1]
bins = pd.cut(meme_com["아파트"], 5, labels = labels)
meme_com["아파트"] = bins
meme_com

# 저장하기
# meme_com.to_csv("서울주택매매현황.csv", index = False)

<ipython-input-34-476279ce4f4a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meme_com["종합"] = np.log1p(meme_com["종합"])
<ipython-input-34-476279ce4f4a>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meme_com["종합"] = bins
<ipython-input-34-476279ce4f4a>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meme_com["아파트"] = np.log1p(meme_com["아파트"])
<ipython-input-34-476279ce4f4a>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meme_com["아파트"] = bins

      구별 종합 아파트
0    종로구  1   1
1     중구  2   1
2    용산구  2   2
3    성동구  3   3
4    광진구  2   3
5   동대문구  2   3
6    중랑구  1   1
7    성북구  2   2
8    강북구  1   1
9    도봉구  2   2
10   노원구  4   3
11   은평구  1   2
12  서대문구  2   2
13   마포구  3   2
14   양천구  3   3
15   강서구  4   5
16   구로구  3   3
17   금천구  2   3
18  영등포구  3   3
19   동작구  3   3
20   관악구  2   3
21   서초구  3   3
22   강남구  5   5
23   송파구  3   3
24   강동구  4   4

# 3.아파트 단지 수

In [35]:
import pandas as pd
teak = pd.read_csv("/content/drive/MyDrive/과제3/공동주택+현황(층별)(2016년+이전)_20230110142848.csv", sep = ",")

In [36]:
teak=teak.iloc[:,1:16] 
teak=teak[4:]
teak=teak[["자치구별(2)","2014","2015"]]

# teak=teak[2:]
teak=teak.reset_index().iloc[:,1:]
teak

   자치구별(2) 2014 2015
0      종로구   53   58
1       중구   54   58
2      용산구  116  111
3      성동구  118  121
4      광진구  106  109
5     동대문구  152  151
6      중랑구  146  147
7      성북구  160  161
8      강북구   89   91
9      도봉구  144  146
10     노원구  258  258
11     은평구  183  185
12    서대문구  102  117
13     마포구  170  188
14     양천구  256  257
15     강서구  312  314
16     구로구  214  216
17     금천구  111  109
18    영등포구  175  177
19     동작구  158  158
20     관악구  145  145
21     서초구  241  245
22     강남구  258  271
23     송파구  183  182
24     강동구  246  239

In [37]:
# 타입 바꾸기기
teak["2014"] = teak["2014"].astype("int")
teak["2015"] = teak["2015"].astype("int")

# 평균 내기기
teak["단지수"]=(teak["2014"]+teak["2015"])/2
teak=teak.drop(["2014","2015"], axis=1)

# rename 하기기
teak.rename(columns={"자치구별(2)":"구별"}, inplace=True)

# 로그화, 등급 나누기
import numpy as np

teak["단지수"] = np.log1p(teak["단지수"])
labels = [ 5, 4, 3, 2, 1]
bins = pd.cut(teak["단지수"], 5, labels = labels)
teak["단지수"] = bins
teak

#저장하기기
# teak.to_csv("아파트단지수.csv", index = False)

      구별 단지수
0    종로구   5
1     중구   5
2    용산구   3
3    성동구   3
4    광진구   4
5   동대문구   3
6    중랑구   3
7    성북구   2
8    강북구   4
9    도봉구   3
10   노원구   1
11   은평구   2
12  서대문구   4
13   마포구   2
14   양천구   1
15   강서구   1
16   구로구   2
17   금천구   4
18  영등포구   2
19   동작구   2
20   관악구   3
21   서초구   1
22   강남구   1
23   송파구   2
24   강동구   1

# 4.구별로 등급화 합치기

In [38]:
gugu = teak['구별'].unique()

In [39]:
# 데이터 프레임 만들기기
df = pd.DataFrame(gugu)
df.columns=['구별']

# merge
d_f = pd.merge(teak, df, on ='구별',how='outer')
d_g = pd.merge(meme_com, d_f, on ='구별',how='outer')
final_1 = pd.merge(d_g, one_g, on ='구별',how='outer')
final_1

#저장하기기
# final_1.to_csv("소리_5등급화함(1).csv", index = False)

      구별 종합 아파트 단지수 1인가구수
0    종로구  1   1   5     5
1     중구  2   1   5     5
2    용산구  2   2   3     4
3    성동구  3   3   3     4
4    광진구  2   3   4     2
5   동대문구  2   3   3     2
6    중랑구  1   1   3     3
7    성북구  2   2   2     2
8    강북구  1   1   4     4
9    도봉구  2   2   3     4
10   노원구  4   3   1     3
11   은평구  1   2   2     3
12  서대문구  2   2   4     3
13   마포구  3   2   2     2
14   양천구  3   3   1     4
15   강서구  4   5   1     2
16   구로구  3   3   2     3
17   금천구  2   3   4     4
18  영등포구  3   3   2     3
19   동작구  3   3   2     2
20   관악구  2   3   3     1
21   서초구  3   3   1     3
22   강남구  5   5   1     2
23   송파구  3   3   2     2
24   강동구  4   4   1     3

# 5.점포수 시군구 merge

In [50]:
import pandas as pd
final_list = pd.read_csv("/content/drive/MyDrive/과제3/final_store_list.csv", sep = ",")
final_list = final_list.iloc[:,1:]
final_list

    점포코드   시군구
0     A1  서대문구
1    A12   강남구
2     A2   송파구
3    A20   노원구
4    A24   강북구
..   ...   ...
158   D4   강북구
159   D5   강남구
160   D6   강북구
161   D7   성동구
162   D8   중랑구

[163 rows x 2 columns]

In [51]:
# rename
final_list.rename(columns={"시군구":"구별"}, inplace=True)

# merge
d_f   = pd.merge(teak, df, on ='구별',how='outer')
d_g   = pd.merge(meme_com, d_f, on ='구별',how='outer')
final = pd.merge(d_g, one_g, on ='구별',how='outer')

# 칼럼제정비하기
final = final[[ '구별', '1인가구수', '단지수','종합','아파트']]
final

      구별 1인가구수 단지수 종합 아파트
0    종로구     5   5  1   1
1     중구     5   5  2   1
2    용산구     4   3  2   2
3    성동구     4   3  3   3
4    광진구     2   4  2   3
5   동대문구     2   3  2   3
6    중랑구     3   3  1   1
7    성북구     2   2  2   2
8    강북구     4   4  1   1
9    도봉구     4   3  2   2
10   노원구     3   1  4   3
11   은평구     3   2  1   2
12  서대문구     3   4  2   2
13   마포구     2   2  3   2
14   양천구     4   1  3   3
15   강서구     2   1  4   5
16   구로구     3   2  3   3
17   금천구     4   4  2   3
18  영등포구     3   2  3   3
19   동작구     2   2  3   3
20   관악구     1   3  2   3
21   서초구     3   1  3   3
22   강남구     2   1  5   5
23   송파구     2   2  3   3
24   강동구     3   1  4   4

In [ ]:
# reset_index()
# final=final.reset_index().iloc[:,1:]
# final

# 저장하기
# final.to_csv("소리_5등급화함(1).csv", index = False)