ğŸ¤ í–‰ì˜ ê°¯ìˆ˜ê°€ ë¶„ê¸°ë³„ë¡œ ëŠ˜ì–´ë‚¨.
   - 1ë¶„ê¸°ê°€ ê°€ì¥ ì ìŒ (136ì í¬ ë‚˜ì˜´)
   - ì•„ë§ˆ ì „ë…„ë„ì— ê°€ì…í•˜ê±°ë‚˜ í–ˆì„ê±° ê°™ìŒ. ë°ì´í„° ë¶€ì¡±í•˜ë‹¤.

### ê¸°ì¡´ import

In [ ]:
#ê¸°ì¡´ import
import pandas as pd

compet_1  = pd.read_csv("/content/drive/MyDrive/á„€á…ªá„Œá…¦3/á„€á…§á†¼á„Œá…¢á†¼á„‰á…¡á„‹á…µá„‹á…­á†¼ - á„‡á…©á†¨á„‰á…¡á„‡á…©á†«.txt", sep = ",", encoding = "cp949")
demo_1    = pd.read_csv("/content/drive/MyDrive/á„€á…ªá„Œá…¦3/CUSTDEMO.txt", sep = ",", encoding = "cp949")
prodpur_1 = pd.read_csv("/content/drive/MyDrive/á„€á…ªá„Œá…¦3/á„€á…®á„†á…¢á„‰á…¡á†¼á„‘á…®á†·TR - á„‡á…©á†¨á„‰á…¡á„‡á…©á†«.txt", sep = ",", encoding = "cp949")
member_1  = pd.read_csv("/content/drive/MyDrive/á„€á…ªá„Œá…¦3/á„†á…¦á†·á„‡á…¥á„‰á…µá†¸á„‹á…§á„‡á…® - á„‡á…©á†¨á„‰á…¡á„‡á…©á†«.txt", sep = ",", encoding = "cp949")
prodcl_1  = pd.read_csv("/content/drive/MyDrive/á„€á…ªá„Œá…¦3/á„‰á…¡á†¼á„‘á…®á†·á„‡á…®á†«á„…á…² - á„‡á…©á†¨á„‰á…¡á„‡á…©á†«.txt", sep = ",", encoding = "cp949")
channel_1 = pd.read_csv("/content/drive/MyDrive/á„€á…ªá„Œá…¦3/á„á…¢á„‚á…¥á†¯á„‹á…µá„‹á…­á†¼ - á„‡á…©á†¨á„‰á…¡á„‡á…©á†«.txt", sep = ",", encoding = "cp949")

final_t= pd.read_csv("/content/drive/MyDrive/á„€á…ªá„Œá…¦3/upperclass_final.txt", sep = ",")
final_t = final_t[["ì†Œë¶„ë¥˜ì½”ë“œ",'ì†Œë¶„ë¥˜ëª…']]

final_list= pd.read_csv("/content/drive/MyDrive/á„€á…ªá„Œá…¦3/final_store_list.csv", sep = ",")
final_list = final_list.iloc[:,1:]

final_df = pd.read_csv("/content/drive/MyDrive/á„€á…ªá„Œá…¦3/final_df_purchase.csv", sep = ",")
final_df = final_df.iloc[:,1:]
final_df = final_df[['ì†Œë¶„ë¥˜ì½”ë“œ','ê³ ê°ë²ˆí˜¸','ì í¬ì½”ë“œ','êµ¬ë§¤ê¸ˆì•¡','ë…„ë„','ì›”','ë¶„ê¸°']]
final_df["ê³ ê°ë²ˆí˜¸"] = final_df["ê³ ê°ë²ˆí˜¸"].astype("str")

f_list = pd.read_excel("/content/drive/MyDrive/á„€á…ªá„Œá…¦3/á„‰á…¡á†¼á„‘á…®á†·á„‡á…®á†«á„…á…²_á„Œá…¢.xlsx")
f_list = f_list[["ì†Œë¶„ë¥˜ì½”ë“œ",'ì¤‘ë¶„ë¥˜ëª…_ì¬','ëŒ€ë¶„ë¥˜ëª…_ì¬']]

In [ ]:
member_1["ê³ ê°ë²ˆí˜¸"] = member_1["ê³ ê°ë²ˆí˜¸"].astype("str")
member_1["ê°€ì…ë…„ì›”"] = member_1["ê°€ì…ë…„ì›”"].astype("str")

member_1["ê°€ì…ë…„"]= member_1["ê°€ì…ë…„ì›”"].str.slice(0,4)
member_1["ê°€ì…ì›”"]= member_1["ê°€ì…ë…„ì›”"].str.slice(4,6)
member_1 = member_1[["ê³ ê°ë²ˆí˜¸",'ë©¤ë²„ì‹­ëª…','ê°€ì…ë…„','ê°€ì…ì›”']]
member_1

       ê³ ê°ë²ˆí˜¸  ë©¤ë²„ì‹­ëª…   ê°€ì…ë…„ ê°€ì…ì›”
0        11  í•˜ì´ë§ˆíŠ¸  2015  12
1        21  í•˜ì´ë§ˆíŠ¸  2015  06
2        37  í•˜ì´ë§ˆíŠ¸  2013  06
3        43  í•˜ì´ë§ˆíŠ¸  2014  03
4        44  í•˜ì´ë§ˆíŠ¸  2014  11
...     ...   ...   ...  ..
7451  19377    ë¡­ìŠ¤  2014  11
7452  19379    ë¡­ìŠ¤  2014  12
7453  19380    ë¡­ìŠ¤  2014  12
7454  19381   ë‹¤ë‘¥ì´  2015  06
7455  19383    ë¡­ìŠ¤  2015  07

[7456 rows x 4 columns]

### mf_të¡œ ë¶„ì„ ì‹œì‘ í• ê²ë‹ˆë‹¤!

In [ ]:
import pandas as pd
mf = pd.DataFrame()
mf = pd.merge(member_1, final_df, on ='ê³ ê°ë²ˆí˜¸')
mf_l=pd.merge (mf,f_list, on ='ì†Œë¶„ë¥˜ì½”ë“œ')
mf_t=pd.merge (mf_l,final_t, on ='ì†Œë¶„ë¥˜ì½”ë“œ')
mf_t

,ê³ ê°ë²ˆí˜¸,ë©¤ë²„ì‹­ëª…,ê°€ì…ë…„,ê°€ì…ì›”,ì†Œë¶„ë¥˜ì½”ë“œ,ì í¬ì½”ë“œ,êµ¬ë§¤ê¸ˆì•¡,ë…„ë„,ì›”,ë¶„ê¸°,ì¤‘ë¶„ë¥˜ëª…_ì¬,ëŒ€ë¶„ë¥˜ëª…_ì¬,ì†Œë¶„ë¥˜ëª…
0,11,í•˜ì´ë§ˆíŠ¸,2015,12,A010803,A1,617400,2014,10,4th,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼)
1,11,í•˜ì´ë§ˆíŠ¸,2015,12,A010803,A1,52500,2014,2,1st,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼)
2,37,í•˜ì´ë§ˆíŠ¸,2013,06,A010803,A1,214000,2014,5,2nd,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼)
3,37,í•˜ì´ë§ˆíŠ¸,2013,06,A010803,A1,30000,2014,10,4th,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼)
4,37,í•˜ì´ë§ˆíŠ¸,2013,06,A010803,A1,112000,2014,12,4th,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984428,18052,ë¡­ìŠ¤,2014,05,A050502,A2,69000,2014,5,2nd,ì˜ë¥˜í–‰ì‚¬,í–‰ì‚¬ìƒí’ˆ,ì…”ì¸ ê³ ì •í–‰ì‚¬
2984429,18052,í•˜ì´ë§ˆíŠ¸,2014,08,A050502,A2,69000,2014,5,2nd,ì˜ë¥˜í–‰ì‚¬,í–‰ì‚¬ìƒí’ˆ,ì…”ì¸ ê³ ì •í–‰ì‚¬
2984430,18294,ë¡­ìŠ¤,2014,12,D040103,D4,3500,2015,1,5th,ê³¼ìë¥˜,ê°€ê³µì‹í’ˆ,ì¦‰ì„ìŠ¤í”„
2984431,18321,í•˜ì´ë§ˆíŠ¸,2014,05,B650102,B13,7900,2015,9,7th,ë†ì‚°ë¬¼,ì‹ ì„ ì‹í’ˆ,ë©”ë¡ ê¸°íƒ€
2984432,18466,ë‹¤ë‘¥ì´,2014,03,C130402,C13,2980,2015,8,7th,ì˜ìœ ì•„ì‹í’ˆ,ìœ ì•„ì‹í’ˆ,ì´ìœ ì‹

In [ ]:
# ë¹„êµ ë¶„ì„ì„ ìœ„í•´ ë…„/ì›” íƒ€ì…ì„ ë°”ê¿”ì¤€ë‹¤.
mf_t["ë…„ë„"] = mf_t["ë…„ë„"].astype("int")
mf_t["ì›”"] = mf_t["ì›”"].astype("int")
mf_t["ê°€ì…ë…„"] = mf_t["ê°€ì…ë…„"].astype("int")
mf_t["ê°€ì…ì›”"] = mf_t["ê°€ì…ì›”"].astype("int")

#### if ë…„ë„ í¬ê±°ë‚˜ ê°™ê±°ë‚˜ ì‘ë‹¤

In [ ]:
def f(row):
    if   row['ê°€ì…ë…„'] < row['ë…„ë„']:
        val = 2
    elif row['ê°€ì…ë…„'] == row['ë…„ë„']:
        val = 1     
    else: 
        val = 0
    return val

In [ ]:
mf_t['ë…„ë„í™•ì¸'] = mf_t.apply(f, axis=1)
mf_t

,ê³ ê°ë²ˆí˜¸,ë©¤ë²„ì‹­ëª…,ê°€ì…ë…„,ê°€ì…ì›”,ì†Œë¶„ë¥˜ì½”ë“œ,ì í¬ì½”ë“œ,êµ¬ë§¤ê¸ˆì•¡,ë…„ë„,ì›”,ë¶„ê¸°,ì¤‘ë¶„ë¥˜ëª…_ì¬,ëŒ€ë¶„ë¥˜ëª…_ì¬,ì†Œë¶„ë¥˜ëª…,ë…„ë„í™•ì¸
0,11,í•˜ì´ë§ˆíŠ¸,2015,12,A010803,A1,617400,2014,10,4th,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼),0
1,11,í•˜ì´ë§ˆíŠ¸,2015,12,A010803,A1,52500,2014,2,1st,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼),0
2,37,í•˜ì´ë§ˆíŠ¸,2013,6,A010803,A1,214000,2014,5,2nd,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼),2
3,37,í•˜ì´ë§ˆíŠ¸,2013,6,A010803,A1,30000,2014,10,4th,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼),2
4,37,í•˜ì´ë§ˆíŠ¸,2013,6,A010803,A1,112000,2014,12,4th,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼),2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984428,18052,ë¡­ìŠ¤,2014,5,A050502,A2,69000,2014,5,2nd,ì˜ë¥˜í–‰ì‚¬,í–‰ì‚¬ìƒí’ˆ,ì…”ì¸ ê³ ì •í–‰ì‚¬,1
2984429,18052,í•˜ì´ë§ˆíŠ¸,2014,8,A050502,A2,69000,2014,5,2nd,ì˜ë¥˜í–‰ì‚¬,í–‰ì‚¬ìƒí’ˆ,ì…”ì¸ ê³ ì •í–‰ì‚¬,1
2984430,18294,ë¡­ìŠ¤,2014,12,D040103,D4,3500,2015,1,5th,ê³¼ìë¥˜,ê°€ê³µì‹í’ˆ,ì¦‰ì„ìŠ¤í”„,2
2984431,18321,í•˜ì´ë§ˆíŠ¸,2014,5,B650102,B13,7900,2015,9,7th,ë†ì‚°ë¬¼,ì‹ ì„ ì‹í’ˆ,ë©”ë¡ ê¸°íƒ€,2
2984432,18466,ë‹¤ë‘¥ì´,2014,3,C130402,C13,2980,2015,8,7th,ì˜ìœ ì•„ì‹í’ˆ,ìœ ì•„ì‹í’ˆ,ì´ìœ ì‹,2

#### if ê°€ì…ë…„ë„ í¬ë©´ ê·¸ëŒ€ë¡œ, 0ì´ì—¬ë„ ê·¸ëŒ€ë¡œ
 ê°™ìœ¼ë©´ ì›”ì„ ë‚˜ëˆˆë‹¤.

In [ ]:
def f(rows):
    if  rows['ë…„ë„í™•ì¸'] == 2:
        val = 2
    elif rows['ë…„ë„í™•ì¸'] == 1 and rows['ê°€ì…ì›”'] <= rows['ì›”']:
        val =1
    elif  rows['ë…„ë„í™•ì¸'] == 1 and rows['ê°€ì…ì›”'] > rows['ì›”']:
        val = 0  
    else:
        val = 0
    return val

In [ ]:
mf_t['ì›”í™•ì¸'] = mf_t.apply(f, axis=1)
mf_t

,ê³ ê°ë²ˆí˜¸,ë©¤ë²„ì‹­ëª…,ê°€ì…ë…„,ê°€ì…ì›”,ì†Œë¶„ë¥˜ì½”ë“œ,ì í¬ì½”ë“œ,êµ¬ë§¤ê¸ˆì•¡,ë…„ë„,ì›”,ë¶„ê¸°,ì¤‘ë¶„ë¥˜ëª…_ì¬,ëŒ€ë¶„ë¥˜ëª…_ì¬,ì†Œë¶„ë¥˜ëª…,ë…„ë„í™•ì¸,ì›”í™•ì¸
0,11,í•˜ì´ë§ˆíŠ¸,2015,12,A010803,A1,617400,2014,10,4th,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼),0,0
1,11,í•˜ì´ë§ˆíŠ¸,2015,12,A010803,A1,52500,2014,2,1st,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼),0,0
2,37,í•˜ì´ë§ˆíŠ¸,2013,6,A010803,A1,214000,2014,5,2nd,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼),2,2
3,37,í•˜ì´ë§ˆíŠ¸,2013,6,A010803,A1,30000,2014,10,4th,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼),2,2
4,37,í•˜ì´ë§ˆíŠ¸,2013,6,A010803,A1,112000,2014,12,4th,ê±´ê°•ì‹í’ˆ,ê°€ê³µì‹í’ˆ,ê±´ê°•ì‹í’ˆ(ë¹„íƒ€ë¯¼),2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984428,18052,ë¡­ìŠ¤,2014,5,A050502,A2,69000,2014,5,2nd,ì˜ë¥˜í–‰ì‚¬,í–‰ì‚¬ìƒí’ˆ,ì…”ì¸ ê³ ì •í–‰ì‚¬,1,1
2984429,18052,í•˜ì´ë§ˆíŠ¸,2014,8,A050502,A2,69000,2014,5,2nd,ì˜ë¥˜í–‰ì‚¬,í–‰ì‚¬ìƒí’ˆ,ì…”ì¸ ê³ ì •í–‰ì‚¬,1,0
2984430,18294,ë¡­ìŠ¤,2014,12,D040103,D4,3500,2015,1,5th,ê³¼ìë¥˜,ê°€ê³µì‹í’ˆ,ì¦‰ì„ìŠ¤í”„,2,2
2984431,18321,í•˜ì´ë§ˆíŠ¸,2014,5,B650102,B13,7900,2015,9,7th,ë†ì‚°ë¬¼,ì‹ ì„ ì‹í’ˆ,ë©”ë¡ ê¸°íƒ€,2,2
2984432,18466,ë‹¤ë‘¥ì´,2014,3,C130402,C13,2980,2015,8,7th,ì˜ìœ ì•„ì‹í’ˆ,ìœ ì•„ì‹í’ˆ,ì´ìœ ì‹,2,2

#### ìµœì¢…ì •ë¦¬

In [ ]:
def f(rowss):
    if rowss["ë…„ë„í™•ì¸"]== 0 and rowss["ì›”í™•ì¸"]==0:
        val =0
    elif rowss["ë…„ë„í™•ì¸"]== 2 and rowss["ì›”í™•ì¸"]==2:
        val =1
    elif rowss["ë…„ë„í™•ì¸"]== 1 and rowss["ì›”í™•ì¸"]==1:
        val =1
    elif rowss["ë…„ë„í™•ì¸"]== 1 and rowss["ì›”í™•ì¸"]==0:
        val =0
    else:
        val= 0
    return val

In [ ]:
mf_t['ìµœì¢…í™•ì¸'] = mf_t.apply(f, axis=1)
mf_t[["ê³ ê°ë²ˆí˜¸","ê°€ì…ë…„","ê°€ì…ì›”","ì í¬ì½”ë“œ","êµ¬ë§¤ê¸ˆì•¡","ë…„ë„","ì›”","ë¶„ê¸°","ë…„ë„í™•ì¸","ì›”í™•ì¸","ìµœì¢…í™•ì¸"]]

          ê³ ê°ë²ˆí˜¸   ê°€ì…ë…„  ê°€ì…ì›” ì í¬ì½”ë“œ    êµ¬ë§¤ê¸ˆì•¡    ë…„ë„   ì›”   ë¶„ê¸°  ë…„ë„í™•ì¸  ì›”í™•ì¸  ìµœì¢…í™•ì¸
0           11  2015   12   A1  617400  2014  10  4th     0    0     0
1           11  2015   12   A1   52500  2014   2  1st     0    0     0
2           37  2013    6   A1  214000  2014   5  2nd     2    2     1
3           37  2013    6   A1   30000  2014  10  4th     2    2     1
4           37  2013    6   A1  112000  2014  12  4th     2    2     1
...        ...   ...  ...  ...     ...   ...  ..  ...   ...  ...   ...
2984428  18052  2014    5   A2   69000  2014   5  2nd     1    1     1
2984429  18052  2014    8   A2   69000  2014   5  2nd     1    0     0
2984430  18294  2014   12   D4    3500  2015   1  5th     2    2     1
2984431  18321  2014    5  B13    7900  2015   9  7th     2    2     1
2984432  18466  2014    3  C13    2980  2015   8  7th     2    2     1

[2984433 rows x 11 columns]

In [ ]:
mf_tm =mf_t[["ê³ ê°ë²ˆí˜¸","ì í¬ì½”ë“œ","êµ¬ë§¤ê¸ˆì•¡","ë¶„ê¸°","ìµœì¢…í™•ì¸"]]
mf_tm

          ê³ ê°ë²ˆí˜¸ ì í¬ì½”ë“œ    êµ¬ë§¤ê¸ˆì•¡   ë¶„ê¸°  ìµœì¢…í™•ì¸
0           11   A1  617400  4th     0
1           11   A1   52500  1st     0
2           37   A1  214000  2nd     1
3           37   A1   30000  4th     1
4           37   A1  112000  4th     1
...        ...  ...     ...  ...   ...
2984428  18052   A2   69000  2nd     1
2984429  18052   A2   69000  2nd     0
2984430  18294   D4    3500  5th     1
2984431  18321  B13    7900  7th     1
2984432  18466  C13    2980  7th     1

[2984433 rows x 5 columns]

#### êµ¬ë§¤ê¸ˆì•¡ ë°”ê¾¸ê¸°ê¸°

In [ ]:
import numpy as np
mf_tm['êµ¬ë§¤ê¸ˆì•¡'] = np.where(mf_tm['ìµœì¢…í™•ì¸'] == 0, 0, mf_tm['êµ¬ë§¤ê¸ˆì•¡'])
mf_tm["ë¶„ê¸°"]= mf_tm["ë¶„ê¸°"].str.slice(0,1)
mf_tm

<ipython-input-19-339c9d71fbb9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mf_tm['êµ¬ë§¤ê¸ˆì•¡'] = np.where(mf_tm['ìµœì¢…í™•ì¸'] == 0, 0, mf_tm['êµ¬ë§¤ê¸ˆì•¡'])
<ipython-input-19-339c9d71fbb9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mf_tm["ë¶„ê¸°"]= mf_tm["ë¶„ê¸°"].str.slice(0,1)

          ê³ ê°ë²ˆí˜¸ ì í¬ì½”ë“œ    êµ¬ë§¤ê¸ˆì•¡ ë¶„ê¸°  ìµœì¢…í™•ì¸
0           11   A1       0  4     0
1           11   A1       0  1     0
2           37   A1  214000  2     1
3           37   A1   30000  4     1
4           37   A1  112000  4     1
...        ...  ...     ... ..   ...
2984428  18052   A2   69000  2     1
2984429  18052   A2       0  2     0
2984430  18294   D4    3500  5     1
2984431  18321  B13    7900  7     1
2984432  18466  C13    2980  7     1

[2984433 rows x 5 columns]

In [ ]:
mf_tmc = mf_tm.groupby(["ì í¬ì½”ë“œ",'ë¶„ê¸°'])[['êµ¬ë§¤ê¸ˆì•¡']].count().reset_index()
mf_tmc

     ì í¬ì½”ë“œ ë¶„ê¸°   êµ¬ë§¤ê¸ˆì•¡
0      A1  1  10712
1      A1  2  12900
2      A1  3  12326
3      A1  4  14120
4      A1  5  12018
...   ... ..    ...
1263   D8  4    297
1264   D8  5    321
1265   D8  6    564
1266   D8  7    317
1267   D8  8    189

[1268 rows x 3 columns]

In [ ]:
mf_tms = mf_tm.groupby(["ì í¬ì½”ë“œ",'ë¶„ê¸°'])[['êµ¬ë§¤ê¸ˆì•¡']].sum().reset_index()
mf_tms

     ì í¬ì½”ë“œ ë¶„ê¸°        êµ¬ë§¤ê¸ˆì•¡
0      A1  1   456085580
1      A1  2   574517840
2      A1  3   521113430
3      A1  4  1558118580
4      A1  5  1192966560
...   ... ..         ...
1263   D8  4     1717120
1264   D8  5     2009330
1265   D8  6     4355390
1266   D8  7     2996200
1267   D8  8     1220570

[1268 rows x 3 columns]

In [ ]:
# ë¶„ê¸°ë³„ë¡œ ë‚˜ëˆ„ê¸°
m_1 = mf_tmc.query("ë¶„ê¸° == '1'")
m_2 = mf_tmc.query("ë¶„ê¸° == '2'")
m_3 = mf_tmc.query("ë¶„ê¸° == '3'")
m_4 = mf_tmc.query("ë¶„ê¸° == '4'")
m_5 = mf_tmc.query("ë¶„ê¸° == '5'")
m_6 = mf_tmc.query("ë¶„ê¸° == '6'")
m_7 = mf_tmc.query("ë¶„ê¸° == '7'")
m_8 = mf_tmc.query("ë¶„ê¸° == '8'")
m_1

     ì í¬ì½”ë“œ ë¶„ê¸°   êµ¬ë§¤ê¸ˆì•¡
0      A1  1  10712
8     A12  1   8707
16     A2  1  34769
24    A20  1  13497
32    A24  1   3029
...   ... ..    ...
1228   D4  1    650
1236   D5  1    232
1244   D6  1    824
1252   D7  1    614
1260   D8  1    135

[158 rows x 3 columns]

In [ ]:
# ë¶„ê¸°ë³„ë¡œ ë‚˜ëˆ„ê¸°
n_1 = mf_tms.query("ë¶„ê¸° == '1'")
n_2 = mf_tms.query("ë¶„ê¸° == '2'")
n_3 = mf_tms.query("ë¶„ê¸° == '3'")
n_4 = mf_tms.query("ë¶„ê¸° == '4'")
n_5 = mf_tms.query("ë¶„ê¸° == '5'")
n_6 = mf_tms.query("ë¶„ê¸° == '6'")
n_7 = mf_tms.query("ë¶„ê¸° == '7'")
n_8 = mf_tms.query("ë¶„ê¸° == '8'")
n_1

     ì í¬ì½”ë“œ ë¶„ê¸°       êµ¬ë§¤ê¸ˆì•¡
0      A1  1  456085580
8     A12  1  138552080
16     A2  1  971410500
24    A20  1  338010330
32    A24  1  157146750
...   ... ..        ...
1228   D4  1    3131630
1236   D5  1    2211600
1244   D6  1    3387400
1252   D7  1    3526770
1260   D8  1     536480

[158 rows x 3 columns]

In [ ]:
mf_tmg['ì í¬ì½”ë“œ'].count()

1268

In [ ]:
# ì—†ëŠ” ë¶„ê¸°ì—ëŠ” 0ìœ¼ë¡œ ê°’ ì±„ìš°ê¸°
for i in mf_tmg['ì í¬ì½”ë“œ'].unique():
  for j in [1, 2, 3, 4, 5, 6, 7, 8]:
    df = mf_tmg.query(f"ì í¬ì½”ë“œ == '{i}'")
    if j not in df['ë¶„ê¸°'].unique():
      add_df = pd.DataFrame({ 'ì í¬ì½”ë“œ' : f'{i}',  'êµ¬ë§¤ê¸ˆì•¡' : }, index = [0])
      mf_tmg = pd.concat([mf_tmg, add_df])

mf_tmg3 = mf_tmg.sort_values(['ì í¬ì½”ë“œ', 'ë¶„ê¸°']).reset_index().iloc[:, 1:]

In [ ]:
mf_tmg3

     ì í¬ì½”ë“œ   ë¶„ê¸°        êµ¬ë§¤ê¸ˆì•¡
0      A1    1   456085580
1      A1    2   574517840
2      A1    3   521113430
3      A1    4  1558118580
4      A1    5  1192966560
...   ...  ...         ...
2567   D8  NaN           0
2568   D8  NaN           0
2569   D8  NaN           0
2570   D8  NaN           0
2571   D8  NaN           0

[2572 rows x 3 columns]

In [ ]:
mf_tmg3.isnull().sum()

ì í¬ì½”ë“œ       0
ë¶„ê¸°      2608
êµ¬ë§¤ê¸ˆì•¡       0
dtype: int64

In [ ]:
mf_tmg3.dropna(axis=0)

     ì í¬ì½”ë“œ ë¶„ê¸°        êµ¬ë§¤ê¸ˆì•¡
0      A1  1   456085580
1      A1  2   574517840
2      A1  3   521113430
3      A1  4  1558118580
4      A1  5  1192966560
...   ... ..         ...
1263   D8  4     1717120
1264   D8  5     2009330
1265   D8  6     4355390
1266   D8  7     2996200
1267   D8  8     1220570

[1268 rows x 3 columns]

In [ ]:
mf_tmg1=mf_tm.groupby(["ì í¬ì½”ë“œ"])[['êµ¬ë§¤ê¸ˆì•¡']].sum().reset_index()
mf_tmg1

    ì í¬ì½”ë“œ         êµ¬ë§¤ê¸ˆì•¡
0     A1   8803826030
1    A12   2705875390
2     A2  18936204020
3    A20   5384269480
4    A24   2468263300
..   ...          ...
158   D4     13114320
159   D5     29789700
160   D6     33137340
161   D7     36335840
162   D8     17110160

[163 rows x 2 columns]

In [ ]:
len(mf_tmg['ì í¬ì½”ë“œ'].unique())

163

In [ ]:
mf_tmg1 =mf_tmg.query("ë¶„ê¸°==['1','2','3','4','5','6','7','8']")
mf_tmg1

     ì í¬ì½”ë“œ ë¶„ê¸°  êµ¬ë§¤ê¸ˆì•¡
0      A1  1     0
2      A1  2     0
4      A1  3     0
6      A1  4     0
8      A1  5     0
...   ... ..   ...
2562   D8  4     0
2564   D8  5     0
2566   D8  6     0
2568   D8  7     0
2570   D8  8     0

[1304 rows x 3 columns]

### êµ¬ë§¤ ê¸ˆì•¡ ì¹´ìš´íŠ¸

In [ ]:
# ì í¬ë³„ ì´êµ¬ë§¤ì•¡  
m_1k=m_1.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['êµ¬ë§¤ê¸ˆì•¡']].sum().reset_index()
m_2k=m_2.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['êµ¬ë§¤ê¸ˆì•¡']].sum().reset_index()
m_3k=m_3.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['êµ¬ë§¤ê¸ˆì•¡']].sum().reset_index()
m_4k=m_4.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['êµ¬ë§¤ê¸ˆì•¡']].sum().reset_index()
m_5k=m_5.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['êµ¬ë§¤ê¸ˆì•¡']].sum().reset_index()
m_6k=m_6.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['êµ¬ë§¤ê¸ˆì•¡']].sum().reset_index()
m_7k=m_7.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['êµ¬ë§¤ê¸ˆì•¡']].sum().reset_index()
m_8k=m_8.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['êµ¬ë§¤ê¸ˆì•¡']].sum().reset_index()

In [ ]:
# #ì´ìš©íšŸìˆ˜ ë“±ê¸‰ êµ¬í•˜ê¸°(10ë“±ê¸‰)
# m_1k['êµ¬ë§¤ê¸ˆì•¡'] = np.log(m_1k['êµ¬ë§¤ê¸ˆì•¡'])
# bins = pd.cut(m_1k['êµ¬ë§¤ê¸ˆì•¡'], 20)

# # ë‚˜ëˆˆ êµ¬ê°„ í™•ì¸
# bins

# # êµ¬ê°„ì˜ ê°’ë“¤ì˜ ë¶„í¬ í™•ì¸
# m_1k['ì„ì‹œ'] = bins
# m_1k.groupby(['ì„ì‹œ'])[['ê³ ê°ë²ˆí˜¸']].count()

# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_1k['êµ¬ë§¤ê¸ˆì•¡'] = np.log1p(m_1k['êµ¬ë§¤ê¸ˆì•¡'])
labels = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_1k['êµ¬ë§¤ê¸ˆì•¡'], 20, labels = labels)
m_1k['êµ¬ë§¤ê¸ˆì•¡'] = bins
m_1k

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ êµ¬ë§¤ê¸ˆì•¡
0      A1  10010    9
1      A1  10070   20
2      A1  10086   20
3      A1   1012   20
4      A1  10165    9
...   ...    ...  ...
7208   D8  19296   10
7209   D8   2559    9
7210   D8   8829   20
7211   D8   8915   20
7212   D8   9224   20

[7213 rows x 3 columns]

#### ë¶„ê¸°ë³„ ì´ êµ¬ë§¤ì•¡ í™•ì¸í•˜ê¸°

In [ ]:
m_1k.groupby(["ì í¬ì½”ë“œ"])[['êµ¬ë§¤ê¸ˆì•¡']].sum().reset_index()

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_1k['êµ¬ë§¤ê¸ˆì•¡'] = np.log1p(m_1k['êµ¬ë§¤ê¸ˆì•¡'])
labels = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_1k['êµ¬ë§¤ê¸ˆì•¡'], 20, labels = labels)
m_1k['êµ¬ë§¤ê¸ˆì•¡'] = bins
m_1k

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ êµ¬ë§¤ê¸ˆì•¡
0      A1  10010    9
1      A1  10070   20
2      A1  10086   20
3      A1   1012   20
4      A1  10165    9
...   ...    ...  ...
7208   D8  19296   10
7209   D8   2559    9
7210   D8   8829   20
7211   D8   8915   20
7212   D8   9224   20

[7213 rows x 3 columns]

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_2k['êµ¬ë§¤ê¸ˆì•¡'] = np.log1p(m_2k['êµ¬ë§¤ê¸ˆì•¡'])
labels = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_2k['êµ¬ë§¤ê¸ˆì•¡'], 20, labels = labels)
m_2k['êµ¬ë§¤ê¸ˆì•¡'] = bins
m_2k

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ êµ¬ë§¤ê¸ˆì•¡
0      A1  10070   20
1      A1  10086   20
2      A1  10090   20
3      A1  10099   20
4      A1  10165    8
...   ...    ...  ...
7486   D8   4786   20
7487   D8   8829   20
7488   D8   8915    9
7489   D8   9224    7
7490   D8   9366   12

[7491 rows x 3 columns]

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_3k['êµ¬ë§¤ê¸ˆì•¡'] = np.log1p(m_3k['êµ¬ë§¤ê¸ˆì•¡'])
labels = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_3k['êµ¬ë§¤ê¸ˆì•¡'], 20, labels = labels)
m_3k['êµ¬ë§¤ê¸ˆì•¡'] = bins
m_3k

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ êµ¬ë§¤ê¸ˆì•¡
0      A1  10052   20
1      A1  10070    7
2      A1  10090   20
3      A1  10188    9
4      A1   1026   20
...   ...    ...  ...
7676   D8   8829   20
7677   D8   8915    7
7678   D8   9224    7
7679   D8   9550    9
7680   D8   9821   20

[7681 rows x 3 columns]

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_4k['êµ¬ë§¤ê¸ˆì•¡'] = np.log1p(m_4k['êµ¬ë§¤ê¸ˆì•¡'])
labels = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_4k['êµ¬ë§¤ê¸ˆì•¡'], 20, labels = labels)
m_4k['êµ¬ë§¤ê¸ˆì•¡'] = bins
m_4k

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ êµ¬ë§¤ê¸ˆì•¡
0      A1  10070    8
1      A1  10086   20
2      A1  10090   20
3      A1  10136   20
4      A1   1026    7
...   ...    ...  ...
7702   D8  18109   12
7703   D8  18977    8
7704   D8  18986   20
7705   D8   8915    9
7706   D8   9224    8

[7707 rows x 3 columns]

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_5k['êµ¬ë§¤ê¸ˆì•¡'] = np.log1p(m_5k['êµ¬ë§¤ê¸ˆì•¡'])
labels = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_5k['êµ¬ë§¤ê¸ˆì•¡'], 20, labels = labels)
m_5k['êµ¬ë§¤ê¸ˆì•¡'] = bins
m_5k

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ êµ¬ë§¤ê¸ˆì•¡
0      A1  10058    9
1      A1  10070    7
2      A1  10086   20
3      A1  10249   11
4      A1   1026    6
...   ...    ...  ...
7601   D8  18977    7
7602   D8  19075   12
7603   D8   8829   11
7604   D8   8915    9
7605   D8   9224    8

[7606 rows x 3 columns]

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_6k['êµ¬ë§¤ê¸ˆì•¡'] = np.log1p(m_6k['êµ¬ë§¤ê¸ˆì•¡'])
labels = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_6k['êµ¬ë§¤ê¸ˆì•¡'], 20, labels = labels)
m_6k['êµ¬ë§¤ê¸ˆì•¡'] = bins
m_6k

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ êµ¬ë§¤ê¸ˆì•¡
0      A1  10070    8
1      A1  10241    8
2      A1   1026    7
3      A1  10360    9
4      A1  10380    5
...   ...    ...  ...
7411   D8  18977    7
7412   D8  18986    7
7413   D8   2559   11
7414   D8   8915    9
7415   D8   9224    8

[7416 rows x 3 columns]

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_7k['êµ¬ë§¤ê¸ˆì•¡'] = np.log1p(m_7k['êµ¬ë§¤ê¸ˆì•¡'])
labels = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_7k['êµ¬ë§¤ê¸ˆì•¡'], 20, labels = labels)
m_7k['êµ¬ë§¤ê¸ˆì•¡'] = bins
m_7k

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ êµ¬ë§¤ê¸ˆì•¡
0      A1  10010   11
1      A1  10044   20
2      A1  10070    7
3      A1  10090   20
4      A1    101   10
...   ...    ...  ...
7586   D8   4786   11
7587   D8   8829   11
7588   D8   8915    9
7589   D8   9224    8
7590   D8   9821    9

[7591 rows x 3 columns]

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_8k['êµ¬ë§¤ê¸ˆì•¡'] = np.log1p(m_8k['êµ¬ë§¤ê¸ˆì•¡'])
labels = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_8k['êµ¬ë§¤ê¸ˆì•¡'], 20, labels = labels)
m_8k['êµ¬ë§¤ê¸ˆì•¡'] = bins
m_8k

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ êµ¬ë§¤ê¸ˆì•¡
0      A1  10054   10
1      A1  10070    7
2      A1  10086    8
3      A1  10090   20
4      A1  10165   10
...   ...    ...  ...
7621   D8  18986   10
7622   D8   5461   11
7623   D8   8829   12
7624   D8   8915    7
7625   D8   9224    9

[7626 rows x 3 columns]

### íšŸìˆ˜ ì¹´ìš´íŠ¸

In [ ]:
# ë¶„ê¸°ë³„ ì´ì´êµ¬ë§¤íšŸìˆ˜
m_1j=m_1.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['ìµœì¢…í™•ì¸']].count().reset_index()
m_2j=m_2.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['ìµœì¢…í™•ì¸']].count().reset_index()
m_3j=m_3.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['ìµœì¢…í™•ì¸']].count().reset_index()
m_4j=m_4.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['ìµœì¢…í™•ì¸']].count().reset_index()
m_5j=m_5.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['ìµœì¢…í™•ì¸']].count().reset_index()
m_6j=m_6.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['ìµœì¢…í™•ì¸']].count().reset_index()
m_7j=m_7.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['ìµœì¢…í™•ì¸']].count().reset_index()
m_8j=m_8.groupby(["ì í¬ì½”ë“œ","ê³ ê°ë²ˆí˜¸"])[['ìµœì¢…í™•ì¸']].count().reset_index()

In [ ]:
# #ì´ìš©íšŸìˆ˜ ë“±ê¸‰ êµ¬í•˜ê¸°(10ë“±ê¸‰)
# m_1j['ìµœì¢…í™•ì¸'] = np.log1p(m_1j['ìµœì¢…í™•ì¸'])
# bins = pd.cut(m_1j['ìµœì¢…í™•ì¸'], 15)

# # ë‚˜ëˆˆ êµ¬ê°„ í™•ì¸
# bins

# # êµ¬ê°„ì˜ ê°’ë“¤ì˜ ë¶„í¬ í™•ì¸
# m_1j['ì„ì‹œ'] = bins
# m_1j.groupby(['ì„ì‹œ'])[['ê³ ê°ë²ˆí˜¸']].count()

# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_1j['ìµœì¢…í™•ì¸'] = np.log1p(m_1j['ìµœì¢…í™•ì¸'])
labels = [15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_1j['ìµœì¢…í™•ì¸'], 15, labels = labels)
m_1j['ìµœì¢…í™•ì¸'] = bins
m_1j

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ ìµœì¢…í™•ì¸
0      A1  10010   14
1      A1  10070   13
2      A1  10086   15
3      A1   1012   15
4      A1  10165   14
...   ...    ...  ...
7208   D8  19296   13
7209   D8   2559   15
7210   D8   8829   11
7211   D8   8915   14
7212   D8   9224    9

[7213 rows x 3 columns]

#### ë¶„ê¸°ë³„ ì´ êµ¬ë§¤íšŸìˆ˜ í™•ì¸í•˜ê¸°

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_1j['ìµœì¢…í™•ì¸'] = np.log1p(m_1j['ìµœì¢…í™•ì¸'])
labels = [15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_1j['ìµœì¢…í™•ì¸'], 15, labels = labels)
m_1j['ìµœì¢…í™•ì¸'] = bins
m_1j

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ ìµœì¢…í™•ì¸
0      A1  10010   14
1      A1  10070   13
2      A1  10086   15
3      A1   1012   15
4      A1  10165   14
...   ...    ...  ...
7208   D8  19296   13
7209   D8   2559   15
7210   D8   8829   11
7211   D8   8915   14
7212   D8   9224    9

[7213 rows x 3 columns]

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_2j['ìµœì¢…í™•ì¸'] = np.log1p(m_2j['ìµœì¢…í™•ì¸'])
labels = [15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_2j['ìµœì¢…í™•ì¸'], 15, labels = labels)
m_2j['ìµœì¢…í™•ì¸'] = bins
m_2j

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ ìµœì¢…í™•ì¸
0      A1  10070   13
1      A1  10086   15
2      A1  10090   13
3      A1  10099   13
4      A1  10165   12
...   ...    ...  ...
7486   D8   4786   15
7487   D8   8829   10
7488   D8   8915   10
7489   D8   9224    8
7490   D8   9366   15

[7491 rows x 3 columns]

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_3j['ìµœì¢…í™•ì¸'] = np.log1p(m_3j['ìµœì¢…í™•ì¸'])
labels = [15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_3j['ìµœì¢…í™•ì¸'], 15, labels = labels)
m_3j['ìµœì¢…í™•ì¸'] = bins
m_3j

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ ìµœì¢…í™•ì¸
0      A1  10052   15
1      A1  10070   14
2      A1  10090   15
3      A1  10188   15
4      A1   1026   12
...   ...    ...  ...
7676   D8   8829   12
7677   D8   8915    9
7678   D8   9224    9
7679   D8   9550   15
7680   D8   9821   12

[7681 rows x 3 columns]

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_4j['ìµœì¢…í™•ì¸'] = np.log1p(m_4j['ìµœì¢…í™•ì¸'])
labels = [15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_4j['ìµœì¢…í™•ì¸'], 15, labels = labels)
m_4j['ìµœì¢…í™•ì¸'] = bins
m_4j

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ ìµœì¢…í™•ì¸
0      A1  10070   15
1      A1  10086   15
2      A1  10090   13
3      A1  10136   15
4      A1   1026   15
...   ...    ...  ...
7702   D8  18109   13
7703   D8  18977    7
7704   D8  18986   15
7705   D8   8915   10
7706   D8   9224    9

[7707 rows x 3 columns]

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_5j['ìµœì¢…í™•ì¸'] = np.log1p(m_5j['ìµœì¢…í™•ì¸'])
labels = [15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_5j['ìµœì¢…í™•ì¸'], 15, labels = labels)
m_5j['ìµœì¢…í™•ì¸'] = bins
m_5j

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ ìµœì¢…í™•ì¸
0      A1  10058   15
1      A1  10070   13
2      A1  10086   15
3      A1  10249   15
4      A1   1026   12
...   ...    ...  ...
7601   D8  18977    8
7602   D8  19075   15
7603   D8   8829   12
7604   D8   8915   12
7605   D8   9224    9

[7606 rows x 3 columns]

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_6j['ìµœì¢…í™•ì¸'] = np.log1p(m_6j['ìµœì¢…í™•ì¸'])
labels = [15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_6j['ìµœì¢…í™•ì¸'], 15, labels = labels)
m_6j['ìµœì¢…í™•ì¸'] = bins
m_6j.

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ ìµœì¢…í™•ì¸
0      A1  10070   14
1      A1  10241   13
2      A1   1026   12
3      A1  10360   15
4      A1  10380    7
...   ...    ...  ...
7411   D8  18977    6
7412   D8  18986    8
7413   D8   2559   15
7414   D8   8915   11
7415   D8   9224    8

[7416 rows x 3 columns]

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_7j['ìµœì¢…í™•ì¸'] = np.log1p(m_7j['ìµœì¢…í™•ì¸'])
labels = [15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_7j['ìµœì¢…í™•ì¸'], 15, labels = labels)
m_7j['ìµœì¢…í™•ì¸'] = bins
m_7j

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ ìµœì¢…í™•ì¸
0      A1  10010   15
1      A1  10044   15
2      A1  10070   13
3      A1  10090   12
4      A1    101   15
...   ...    ...  ...
7586   D8   4786   15
7587   D8   8829   13
7588   D8   8915   11
7589   D8   9224   10
7590   D8   9821   13

[7591 rows x 3 columns]

In [ ]:
# êµ¬ë§¤ê¸ˆì•¡ ë“±ê¸‰ êµ¬í•˜ê¸°(20ë“±ê¸‰)
m_8j['ìµœì¢…í™•ì¸'] = np.log1p(m_8j['ìµœì¢…í™•ì¸'])
labels = [15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
bins = pd.cut(m_8j['ìµœì¢…í™•ì¸'], 15, labels = labels)
m_8j['ìµœì¢…í™•ì¸'] = bins
m_8j

     ì í¬ì½”ë“œ   ê³ ê°ë²ˆí˜¸ ìµœì¢…í™•ì¸
0      A1  10054   15
1      A1  10070   13
2      A1  10086   15
3      A1  10090   15
4      A1  10165   13
...   ...    ...  ...
7621   D8  18986   13
7622   D8   5461   15
7623   D8   8829   15
7624   D8   8915    9
7625   D8   9224   11

[7626 rows x 3 columns]