#### 데이터 불러오기

In [ ]:
import pandas as pd

one_l  = pd.read_csv("/content/drive/MyDrive/과제3/1인가구(거처종류별)_20230110142452.csv", sep = ",")
one_g  = pd.read_csv("/content/drive/MyDrive/과제3/1인가구(연령별)_20230110142138.csv", sep = ",")
meme   = pd.read_csv("/content/drive/MyDrive/과제3/주택가격지수(매매)_20230110143524.csv", sep = ",")
apmeme = pd.read_csv("/content/drive/MyDrive/과제3/아파트매매거래+현황_20230110143613.csv", sep = ",")
teak   = pd.read_csv("/content/drive/MyDrive/과제3/공동주택+현황(층별)(2016년+이전)_20230110142848.csv", sep = ",")
decrease = pd.read_csv("/content/drive/MyDrive/과제3/decrease.csv", sep = ",")

In [ ]:
one_l

,자치구별(1),자치구별(2),2015,2015.1,2015.2,2015.3,2015.4,2015.5,2015.6,2015.7,...,2015.14,2015.15,2015.16,2015.17,2015.18,2015.19,2015.20,2015.21,2015.22,2015.23
0,자치구별(1),자치구별(2),합계,합계,합계,합계,합계,합계,합계,합계,...,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,자치구별(1),자치구별(2),소계,소계,소계,주택(거처)의 종류,주택(거처)의 종류,주택(거처)의 종류,주택(거처)의 종류,주택(거처)의 종류,...,주택(거처)의 종류,주택(거처)의 종류,주택(거처)의 종류,주택(거처)의 종류,주택(거처)의 종류,주택(거처)의 종류,주택(거처)의 종류,주택이외의 거처,주택이외의 거처,주택이외의 거처
2,자치구별(1),자치구별(2),소계,소계,소계,소계,소계,소계,단독주택,단독주택,...,연립주택,다세대주택,다세대주택,다세대주택,비거주용 건물내 주택,비거주용 건물내 주택,비거주용 건물내 주택,소계,소계,소계
3,자치구별(1),자치구별(2),계,남자,여자,계,남자,여자,계,남자,...,여자,계,남자,여자,계,남자,여자,계,남자,여자
4,합계,소계,1115744,544059,571685,982577,470178,512399,521776,268511,...,10110,161031,73732,87299,44470,25270,19200,133167,73881,59286
5,합계,종로구,22776,11608,11168,19080,9403,9677,11170,5796,...,517,3212,1402,1810,1010,555,455,3696,2205,1491
6,합계,중구,19161,9934,9227,15353,7559,7794,6902,3535,...,160,1906,959,947,778,453,325,3808,2375,1433
7,합계,용산구,31025,14556,16469,27870,12702,15168,16323,7831,...,408,4255,1908,2347,614,284,330,3155,1854,1301
8,합계,성동구,35259,18401,16858,31469,16130,15339,18064,10188,...,143,2387,1180,1207,1616,914,702,3790,2271,1519
9,합계,광진구,54210,27186,27024,48772,24172,24600,35001,17687,...,359,7073,3229,3844,2944,1697,1247,5438,3014,2424
10,합계,동대문구,52884,27587,25297,45888,23464,22424,29835,15949,...,305,4188,2104,2084,2514,1437,1077,6996,4123,2873
11,합계,중랑구,45138,23317,21821,42648,21743,20905,29063,15527,...,444,4529,2165,2364,1642,1040,602,2490,1574,916
12,합계,성북구,52005,24024,27981,48913,22512,26401,29345,14143,...,665,6182,2735,3447,2543,1261,1282,3092,1512,1580
13,합계,강북구,35787,16600,19187,33339,15190,18149,19349,9380,...,454,7046,3046,4000,852,467,385,2448,1410,1038
14,합계,도봉구,27348,12315,15033,25805,11469,14336,11756,5840,...,326,4482,2072,2410,511,273,238,1543,846,697
15,합계,노원구,46129,20078,26051,43478,18357,25121,11384,6141,...,274,3645,1833,1812,1152,716,436,2651,1721,930
16,합계,은평구,43936,20042,23894,39443,17741,21702,18030,8461,...,547,12885,5665,7220,1205,672,533,4493,2301,2192
17,합계,서대문구,40160,18156,22004,36655,16495,20160,20573,9632,...,590,6563,2910,3653,1524,794,730,3505,1661,1844
18,합계,마포구,52437,23877,28560,45552,20665,24887,22274,10747,...,366,10731,4684,6047,1807,921,886,6885,3212,3673
19,합계,양천구,32832,15737,17095,30295,14345,15950,14061,7449,...,370,6782,3111,3671,561,305,256,2537,1392,1145
20,합계,강서구,56990,26767,30223,47284,22077,25207,16795,8681,...,454,10144,4768,5376,1074,633,441,9706,4690,5016
21,합계,구로구,40988,21088,19900,30967,15562,15405,15739,8542,...,603,4122,1996,2126,923,567,356,10021,5526,4495
22,합계,금천구,31219,17699,13520,24914,13510,11404,16334,9254,...,334,2898,1440,1458,755,516,239,6305,4189,2116
23,합계,영등포구,48433,24963,23470,36827,18470,18357,21468,11316,...,171,3363,1747,1616,1316,762,554,11606,6493,5113
24,합계,동작구,53954,27184,26770,48441,23780,24661,30137,15640,...,430,7155,3304,3851,2106,1151,955,5513,3404,2109
25,합계,관악구,100302,54471,45831,87950,47979,39971,58278,33007,...,541,9284,4594,4690,8990,5430,3560,12352,6492,5860
26,합계,서초구,37496,17019,20477,33252,14643,18609,13579,6280,...,402,6253,2821,3432,1772,916,856,4244,2376,1868
27,합계,강남구,61897,26483,35414,54518,22734,31784,19639,8674,...,676,9731,3936,5795,2276,1128,1148,7379,3749,3630
28,합계,송파구,53481,25147,28334,48193,22105,26088,17269,8687,...,369,16622,7580,9042,2209,1264,945,5288,3042,2246
29,합계,강동구,39897,19820,20077,35671,17371,18300,19408,10124,...,202,5593,2543,3050,1776,1114,662,4226,2449,1777

In [ ]:
one_l = one_l[2:]
one_l.iloc[:, 1:]

# 1.1인가구 수

In [22]:
one_g  = pd.read_csv("/content/drive/MyDrive/과제3/1인가구(연령별)_20230110142138.csv", sep = ",")

In [23]:
one_g = one_g[1:]
one_g = one_g.iloc[:,1:35]

In [24]:
one_g =one_g.iloc[:,:2]

In [25]:
one_g=one_g[3:]

#### reset_index()

In [26]:
one_g=one_g.reset_index()

In [27]:
one_g= one_g.iloc[:,1:]
one_g

   자치구별(2)    2015
0      종로구   22776
1       중구   19161
2      용산구   31025
3      성동구   35259
4      광진구   54210
5     동대문구   52884
6      중랑구   45138
7      성북구   52005
8      강북구   35787
9      도봉구   27348
10     노원구   46129
11     은평구   43936
12    서대문구   40160
13     마포구   52437
14     양천구   32832
15     강서구   56990
16     구로구   40988
17     금천구   31219
18    영등포구   48433
19     동작구   53954
20     관악구  100302
21     서초구   37496
22     강남구   61897
23     송파구   53481
24     강동구   39897

#### astype("int")

In [28]:
one_g["2015"] = one_g["2015"].astype("int")

In [29]:
one_g

   자치구별(2)    2015
0      종로구   22776
1       중구   19161
2      용산구   31025
3      성동구   35259
4      광진구   54210
5     동대문구   52884
6      중랑구   45138
7      성북구   52005
8      강북구   35787
9      도봉구   27348
10     노원구   46129
11     은평구   43936
12    서대문구   40160
13     마포구   52437
14     양천구   32832
15     강서구   56990
16     구로구   40988
17     금천구   31219
18    영등포구   48433
19     동작구   53954
20     관악구  100302
21     서초구   37496
22     강남구   61897
23     송파구   53481
24     강동구   39897

In [30]:
bins=pd.cut(one_g["2015"],20)
bins

0     (19079.859, 23218.05]
1     (19079.859, 23218.05]
2       (27275.1, 31332.15]
3       (31332.15, 35389.2]
4       (51617.4, 55674.45]
5       (51617.4, 55674.45]
6       (43503.3, 47560.35]
7       (51617.4, 55674.45]
8       (35389.2, 39446.25]
9       (27275.1, 31332.15]
10      (43503.3, 47560.35]
11      (43503.3, 47560.35]
12      (39446.25, 43503.3]
13      (51617.4, 55674.45]
14      (31332.15, 35389.2]
15      (55674.45, 59731.5]
16      (39446.25, 43503.3]
17      (27275.1, 31332.15]
18      (47560.35, 51617.4]
19      (51617.4, 55674.45]
20     (96244.95, 100302.0]
21      (35389.2, 39446.25]
22      (59731.5, 63788.55]
23      (51617.4, 55674.45]
24      (39446.25, 43503.3]
Name: 2015, dtype: category
Categories (20, interval[float64, right]): [(19079.859, 23218.05] < (23218.05, 27275.1] <
                                            (27275.1, 31332.15] < (31332.15, 35389.2] < ... <
                                            (84073.8, 88130.85] < (88130.85, 92187.9] <
                                            (92187.9, 96244.95] < (96244.95, 100302.0]]

In [31]:
bins.describe()

count                      25
unique                     11
top       (51617.4, 55674.45]
freq                        6
Name: 2015, dtype: object

#### np.log1p 지수화

In [32]:
import numpy as np

one_g['2015'] = np.log1p(one_g['2015'])
labels = [ 5, 4, 3, 2, 1]
bins = pd.cut(one_g['2015'], 5, labels = labels)
one_g['2015'] = bins
one_g

   자치구별(2) 2015
0      종로구    5
1       중구    5
2      용산구    4
3      성동구    4
4      광진구    2
5     동대문구    2
6      중랑구    3
7      성북구    2
8      강북구    4
9      도봉구    4
10     노원구    3
11     은평구    3
12    서대문구    3
13     마포구    2
14     양천구    4
15     강서구    2
16     구로구    3
17     금천구    4
18    영등포구    3
19     동작구    2
20     관악구    1
21     서초구    3
22     강남구    2
23     송파구    2
24     강동구    3

#### rename()

In [33]:
one_g.rename(columns={"자치구별(2)":"구별",'2015':'1인가구수'}, inplace=True)

## { 1인가구 최종 }

In [34]:
one_g

      구별 1인가구수
0    종로구     5
1     중구     5
2    용산구     4
3    성동구     4
4    광진구     2
5   동대문구     2
6    중랑구     3
7    성북구     2
8    강북구     4
9    도봉구     4
10   노원구     3
11   은평구     3
12  서대문구     3
13   마포구     2
14   양천구     4
15   강서구     2
16   구로구     3
17   금천구     4
18  영등포구     3
19   동작구     2
20   관악구     1
21   서초구     3
22   강남구     2
23   송파구     2
24   강동구     3

#### to_csv()

In [ ]:
one_g.to_csv("1인가구수(1).csv", index = False)

# 2.매매 주택종합, 아파트

In [35]:
meme   = pd.read_csv("/content/drive/MyDrive/과제3/주택가격지수(매매)_20230110143524.csv", sep = ",")

#### drop(['칼럼'])

In [36]:
meme = meme.drop(['자치구별(1)'], axis=1)

In [37]:
meme.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시점       52 non-null     int64
 1   자치구별(2)  52 non-null     object
 2   종합       52 non-null     float64
 3   아파트      52 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.8+ KB

#### query("==''")

In [38]:
meme14=meme.query("시점 == 2014")
meme14=meme14.reset_index()
meme14=meme14.iloc[:,2:]
meme14=meme14[1:]
meme14.rename(columns={"자치구별(2)":"구별",'종합':'종합_14','아파트':'아파트_14'}, inplace=True)
meme14

      구별  종합_14  아파트_14
1    종로구   94.1    92.2
2     중구   93.0    91.2
3    용산구   92.9    91.8
4    성동구   90.0    87.3
5    광진구   91.5    87.6
6   동대문구   90.8    87.2
7    중랑구   94.9    92.7
8    성북구   93.4    90.6
9    강북구   95.3    91.3
10   도봉구   92.9    90.3
11   노원구   88.1    87.2
12   은평구   93.8    90.0
13  서대문구   93.1    90.4
14   마포구   91.8    90.0
15   양천구   90.4    87.4
16   강서구   89.3    84.2
17   구로구   89.9    86.9
18   금천구   92.8    88.5
19  영등포구   89.7    87.0
20   동작구   91.3    87.4
21   관악구   92.3    87.3
22   서초구   89.0    86.6
23   강남구   85.2    82.0
24   송파구   90.4    87.5
25   강동구   88.3    84.5

In [39]:
meme15= meme.query("시점 == 2015")
meme15= meme15.reset_index()
meme15= meme15.iloc[:,2:]
meme15= meme15[1:]
meme15.rename(columns={"자치구별(2)":"구별",'종합':'종합_15','아파트':'아파트_15'}, inplace=True)
meme15

      구별  종합_15  아파트_15
1    종로구   96.1    94.4
2     중구   95.7    95.1
3    용산구   94.7    93.8
4    성동구   95.1    94.6
5    광진구   96.2    94.0
6   동대문구   96.3    95.2
7    중랑구   97.4    97.0
8    성북구   96.3    95.2
9    강북구   97.7    96.7
10   도봉구   96.7    95.3
11   노원구   94.6    93.9
12   은평구   96.1    94.0
13  서대문구   95.6    94.0
14   마포구   94.4    93.3
15   양천구   94.4    93.0
16   강서구   93.7    91.0
17   구로구   95.4    93.7
18   금천구   95.8    93.7
19  영등포구   93.9    92.6
20   동작구   94.4    92.5
21   관악구   95.2    92.1
22   서초구   94.5    93.2
23   강남구   91.9    90.0
24   송파구   94.4    92.1
25   강동구   94.6    92.6

#### merge( 칼럼1,칼럼2 ,on='')

In [40]:
import pandas as pd
meme_com=pd.merge(meme14,meme15,on ='구별')
meme_com

      구별  종합_14  아파트_14  종합_15  아파트_15
0    종로구   94.1    92.2   96.1    94.4
1     중구   93.0    91.2   95.7    95.1
2    용산구   92.9    91.8   94.7    93.8
3    성동구   90.0    87.3   95.1    94.6
4    광진구   91.5    87.6   96.2    94.0
5   동대문구   90.8    87.2   96.3    95.2
6    중랑구   94.9    92.7   97.4    97.0
7    성북구   93.4    90.6   96.3    95.2
8    강북구   95.3    91.3   97.7    96.7
9    도봉구   92.9    90.3   96.7    95.3
10   노원구   88.1    87.2   94.6    93.9
11   은평구   93.8    90.0   96.1    94.0
12  서대문구   93.1    90.4   95.6    94.0
13   마포구   91.8    90.0   94.4    93.3
14   양천구   90.4    87.4   94.4    93.0
15   강서구   89.3    84.2   93.7    91.0
16   구로구   89.9    86.9   95.4    93.7
17   금천구   92.8    88.5   95.8    93.7
18  영등포구   89.7    87.0   93.9    92.6
19   동작구   91.3    87.4   94.4    92.5
20   관악구   92.3    87.3   95.2    92.1
21   서초구   89.0    86.6   94.5    93.2
22   강남구   85.2    82.0   91.9    90.0
23   송파구   90.4    87.5   94.4    92.1
24   강동구   88.3    84.5   94.6    92.6

#### 칼럼의 평균구하기

In [41]:
meme_com["종합"]=(meme_com["종합_14"]+meme_com["종합_15"])/2
meme_com["아파트"]=(meme_com["아파트_14"]+meme_com["아파트_15"])/2

### 칼럼 뽑기

In [42]:
meme_com = meme_com[["구별",'종합',"아파트"]]
meme_com

      구별     종합    아파트
0    종로구  95.10  93.30
1     중구  94.35  93.15
2    용산구  93.80  92.80
3    성동구  92.55  90.95
4    광진구  93.85  90.80
5   동대문구  93.55  91.20
6    중랑구  96.15  94.85
7    성북구  94.85  92.90
8    강북구  96.50  94.00
9    도봉구  94.80  92.80
10   노원구  91.35  90.55
11   은평구  94.95  92.00
12  서대문구  94.35  92.20
13   마포구  93.10  91.65
14   양천구  92.40  90.20
15   강서구  91.50  87.60
16   구로구  92.65  90.30
17   금천구  94.30  91.10
18  영등포구  91.80  89.80
19   동작구  92.85  89.95
20   관악구  93.75  89.70
21   서초구  91.75  89.90
22   강남구  88.55  86.00
23   송파구  92.40  89.80
24   강동구  91.45  88.55

In [43]:
import numpy as np

meme_com["종합"] = np.log1p(meme_com["종합"])
labels = [ 5, 4, 3, 2, 1]
bins = pd.cut(meme_com["종합"], 5, labels = labels)
meme_com["종합"] = bins
meme_com

<ipython-input-43-e154ac7ee977>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meme_com["종합"] = np.log1p(meme_com["종합"])
<ipython-input-43-e154ac7ee977>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meme_com["종합"] = bins

      구별 종합    아파트
0    종로구  1  93.30
1     중구  2  93.15
2    용산구  2  92.80
3    성동구  3  90.95
4    광진구  2  90.80
5   동대문구  2  91.20
6    중랑구  1  94.85
7    성북구  2  92.90
8    강북구  1  94.00
9    도봉구  2  92.80
10   노원구  4  90.55
11   은평구  1  92.00
12  서대문구  2  92.20
13   마포구  3  91.65
14   양천구  3  90.20
15   강서구  4  87.60
16   구로구  3  90.30
17   금천구  2  91.10
18  영등포구  3  89.80
19   동작구  3  89.95
20   관악구  2  89.70
21   서초구  3  89.90
22   강남구  5  86.00
23   송파구  3  89.80
24   강동구  4  88.55

### { 종합 주택, 아파트 최종 }

In [44]:
import numpy as np

meme_com["아파트"] = np.log1p(meme_com["아파트"])
labels = [ 5, 4, 3, 2, 1]
bins = pd.cut(meme_com["아파트"], 5, labels = labels)
meme_com["아파트"] = bins
meme_com

<ipython-input-44-12c403f55841>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meme_com["아파트"] = np.log1p(meme_com["아파트"])
<ipython-input-44-12c403f55841>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meme_com["아파트"] = bins

      구별 종합 아파트
0    종로구  1   1
1     중구  2   1
2    용산구  2   2
3    성동구  3   3
4    광진구  2   3
5   동대문구  2   3
6    중랑구  1   1
7    성북구  2   2
8    강북구  1   1
9    도봉구  2   2
10   노원구  4   3
11   은평구  1   2
12  서대문구  2   2
13   마포구  3   2
14   양천구  3   3
15   강서구  4   5
16   구로구  3   3
17   금천구  2   3
18  영등포구  3   3
19   동작구  3   3
20   관악구  2   3
21   서초구  3   3
22   강남구  5   5
23   송파구  3   3
24   강동구  4   4

In [ ]:
meme_com.to_csv("서울주택매매현황.csv", index = False)

# 3.아파트 단지 수

In [3]:
import pandas as pd

In [4]:
teak   = pd.read_csv("/content/drive/MyDrive/과제3/공동주택+현황(층별)(2016년+이전)_20230110142848.csv", sep = ",")

In [5]:
teak=teak.iloc[:,1:16]

In [6]:
teak=teak[4:]

In [7]:
teak

,자치구별(2),2014,2014.1,2014.2,2014.3,2014.4,2014.5,2014.6,2014.7,2014.8,2014.9,2014.10,2014.11,2014.12,2015
4,종로구,53,209,10497,114,1979,12,1043,39,3475,36,2802,8,1198,58
5,중구,54,205,19767,9,378,15,1280,55,3648,106,10671,20,3790,58
6,용산구,116,455,30396,99,2562,90,3705,76,5339,72,5577,118,13213,111
7,성동구,118,607,45675,37,829,12,812,268,18949,162,13306,128,11779,121
8,광진구,106,348,27337,69,1306,20,690,95,6490,53,4801,111,14050,109
9,동대문구,152,621,51877,28,748,36,1627,171,13422,153,14211,233,21869,151
10,중랑구,146,588,46616,99,2365,41,1602,261,23242,85,7779,102,11628,147
11,성북구,160,984,68582,114,2412,65,3342,218,13502,443,36193,144,13133,161
12,강북구,89,461,32295,122,2097,10,367,123,12186,64,6351,142,11294,91
13,도봉구,144,754,63549,130,2498,17,1113,327,35432,138,13294,142,11212,146
14,노원구,258,1557,159368,203,6200,55,2661,1039,121426,151,15049,109,14032,258
15,은평구,183,768,42882,73,1374,77,3446,461,27118,140,9170,17,1774,185
16,서대문구,102,505,34084,108,2411,62,3992,174,13402,141,12159,20,2120,117
17,마포구,170,748,55280,39,966,37,1599,294,20994,220,17672,158,14049,188
18,양천구,256,1058,78508,235,7290,85,3988,554,47004,124,13184,60,7042,257
19,강서구,312,1272,96845,163,3657,142,8564,631,63284,273,17216,63,4124,314
20,구로구,214,1058,70446,321,7266,42,2036,216,18840,146,12170,333,30134,216
21,금천구,111,374,27121,136,2925,30,1972,62,6745,81,9716,65,5763,109
22,영등포구,175,679,59089,48,2081,12,714,216,20286,127,12171,276,23837,177
23,동작구,158,706,55024,63,1371,40,1722,276,21366,228,19598,99,10967,158
24,관악구,145,621,48925,116,2376,62,3095,146,11459,114,10434,183,21561,145
25,서초구,241,1072,79235,148,4577,112,4487,454,38290,134,11118,224,20763,245
26,강남구,258,1486,114596,385,15798,111,5695,634,61349,60,6075,296,25679,271
27,송파구,183,1287,104345,29,584,115,6476,563,46907,177,13768,403,36610,182
28,강동구,246,1159,71708,404,13676,148,8021,383,26870,89,8628,135,14513,239

In [8]:
teak=teak[["자치구별(2)","2014","2015"]]

In [9]:
# teak=teak[2:]
teak=teak.reset_index().iloc[:,1:]
teak

   자치구별(2) 2014 2015
0      종로구   53   58
1       중구   54   58
2      용산구  116  111
3      성동구  118  121
4      광진구  106  109
5     동대문구  152  151
6      중랑구  146  147
7      성북구  160  161
8      강북구   89   91
9      도봉구  144  146
10     노원구  258  258
11     은평구  183  185
12    서대문구  102  117
13     마포구  170  188
14     양천구  256  257
15     강서구  312  314
16     구로구  214  216
17     금천구  111  109
18    영등포구  175  177
19     동작구  158  158
20     관악구  145  145
21     서초구  241  245
22     강남구  258  271
23     송파구  183  182
24     강동구  246  239

In [10]:
teak["2014"] = teak["2014"].astype("int")
teak["2015"] = teak["2015"].astype("int")

In [11]:
teak["단지수"]=(teak["2014"]+teak["2015"])/2
teak=teak.drop(["2014","2015"], axis=1)
teak

   자치구별(2)    단지수
0      종로구   55.5
1       중구   56.0
2      용산구  113.5
3      성동구  119.5
4      광진구  107.5
5     동대문구  151.5
6      중랑구  146.5
7      성북구  160.5
8      강북구   90.0
9      도봉구  145.0
10     노원구  258.0
11     은평구  184.0
12    서대문구  109.5
13     마포구  179.0
14     양천구  256.5
15     강서구  313.0
16     구로구  215.0
17     금천구  110.0
18    영등포구  176.0
19     동작구  158.0
20     관악구  145.0
21     서초구  243.0
22     강남구  264.5
23     송파구  182.5
24     강동구  242.5

In [12]:
teak.rename(columns={"자치구별(2)":"구별"}, inplace=True)

###  { 단지수 최종 }

In [13]:
import numpy as np

teak["단지수"] = np.log1p(teak["단지수"])
labels = [ 5, 4, 3, 2, 1]
bins = pd.cut(teak["단지수"], 5, labels = labels)
teak["단지수"] = bins
teak

      구별 단지수
0    종로구   5
1     중구   5
2    용산구   3
3    성동구   3
4    광진구   4
5   동대문구   3
6    중랑구   3
7    성북구   2
8    강북구   4
9    도봉구   3
10   노원구   1
11   은평구   2
12  서대문구   4
13   마포구   2
14   양천구   1
15   강서구   1
16   구로구   2
17   금천구   4
18  영등포구   2
19   동작구   2
20   관악구   3
21   서초구   1
22   강남구   1
23   송파구   2
24   강동구   1

In [14]:
teak.to_csv("아파트단지수.csv", index = False)

In [16]:
gugu=teak['구별'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [21]:
df = pd.DataFrame(gugu)
df.columns=['구별']
df

      구별
0    종로구
1     중구
2    용산구
3    성동구
4    광진구
5   동대문구
6    중랑구
7    성북구
8    강북구
9    도봉구
10   노원구
11   은평구
12  서대문구
13   마포구
14   양천구
15   강서구
16   구로구
17   금천구
18  영등포구
19   동작구
20   관악구
21   서초구
22   강남구
23   송파구
24   강동구

In [47]:
d_f = pd.merge(teak, df, on ='구별',how='outer')
d_g = pd.merge(meme_com, d_f, on ='구별',how='outer')
final_1 = pd.merge(d_g, one_g, on ='구별',how='outer')
final_1

      구별 종합 아파트 단지수 1인가구수
0    종로구  1   1   5     5
1     중구  2   1   5     5
2    용산구  2   2   3     4
3    성동구  3   3   3     4
4    광진구  2   3   4     2
5   동대문구  2   3   3     2
6    중랑구  1   1   3     3
7    성북구  2   2   2     2
8    강북구  1   1   4     4
9    도봉구  2   2   3     4
10   노원구  4   3   1     3
11   은평구  1   2   2     3
12  서대문구  2   2   4     3
13   마포구  3   2   2     2
14   양천구  3   3   1     4
15   강서구  4   5   1     2
16   구로구  3   3   2     3
17   금천구  2   3   4     4
18  영등포구  3   3   2     3
19   동작구  3   3   2     2
20   관악구  2   3   3     1
21   서초구  3   3   1     3
22   강남구  5   5   1     2
23   송파구  3   3   2     2
24   강동구  4   4   1     3

In [48]:
final_1.to_csv("소리_5등급화함(1).csv", index = False)

# 4.점포수 시군구 merge

In [ ]:
final_list= pd.read_csv("/content/drive/MyDrive/과제3/final_store_list.csv", sep = ",")
final_list=final_list.iloc[:,1:]
final_list

    점포코드   시군구
0     A1  서대문구
1    A12   강남구
2     A2   송파구
3    A20   노원구
4    A24   강북구
..   ...   ...
158   D4   강북구
159   D5   강남구
160   D6   강북구
161   D7   성동구
162   D8   중랑구

[163 rows x 2 columns]

In [ ]:
final_list.rename(columns={"시군구":"구별"}, inplace=True)

In [ ]:
d_f = pd.merge(teak, df, on ='구별',how='outer')
d_g = pd.merge(meme_com, d_f, on ='구별',how='outer')
final = pd.merge(d_g, one_g, on ='구별',how='outer')
final

      구별 종합 아파트 단지수  점포코드 1인가구수
0    종로구  1   1   5  C128     5
1    종로구  1   1   5  C236     5
2    종로구  1   1   5  C540     5
3     중구  2   1   5  C141     5
4    용산구  2   2   3   A39     4
..   ... ..  ..  ..   ...   ...
158  송파구  3   3   2   D12     2
159  송파구  3   3   2    D3     2
160  강동구  4   4   1  C187     3
161  강동구  4   4   1  C474     3
162  강동구  4   4   1  C489     3

[163 rows x 6 columns]

#### 칼럼제정비하기

In [ ]:
final = final[['점포코드', '구별', '1인가구수', '단지수','종합','아파트']]
final

     점포코드   구별 1인가구수 단지수 종합 아파트
0    C128  종로구     5   5  1   1
1    C236  종로구     5   5  1   1
2    C540  종로구     5   5  1   1
3    C141   중구     5   5  2   1
4     A39  용산구     4   3  2   2
..    ...  ...   ...  .. ..  ..
158   D12  송파구     2   2  3   3
159    D3  송파구     2   2  3   3
160  C187  강동구     3   1  4   4
161  C474  강동구     3   1  4   4
162  C489  강동구     3   1  4   4

[163 rows x 6 columns]

In [ ]:
# final.sort_values(by = '점포코드',ascending=True, inplace=True) 
final=final.reset_index().iloc[:,1:]
final

    점포코드    구별 1인가구수 단지수 종합 아파트
0     A1  서대문구     3   4  2   2
1    A12   강남구     2   1  5   5
2     A2   송파구     2   2  3   3
3    A20   노원구     3   1  4   3
4    A24   강북구     4   4  1   1
..   ...   ...   ...  .. ..  ..
158   D4   강북구     4   4  1   1
159   D5   강남구     2   1  5   5
160   D6   강북구     4   4  1   1
161   D7   성동구     4   3  3   3
162   D8   중랑구     3   3  1   1

[163 rows x 6 columns]

In [ ]:
final.to_csv("소리_5등급화함(1).csv", index = False)